.super_div{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.main_div{
   /* border: 1px solid black; */
    width: 40%;
    align-items: center;
}
.top_div{
    border-bottom: 1px solid black; 
    display: flex;
    justify-content: space-between ;
}
/* .mid_div{
    border: 1px solid rgb(72, 255, 0);
} */
/* .btn_div{
    border: 1px solid rgb(255, 94, 0);
    display: flex;
    justify-content: center;
} */
.btn{
    width: 60%;
    height: 50px;
    background-color: rgb(23, 163, 218);
}
a{
    text-size-adjust: 100px;
    text-decoration: none;
}
.bottum_div{
    border-top: 1px solid black; 
    /* border: 1px solid rgb(0, 255, 157); */
}